[Desktop Entry]
Version=5.0.2
Encoding=UTF-8
Name=Martus
#Name[ar]=وثائق تيلز
#Name[az]=Tails sənədləşməsi
#Name[ca]=Documentacio de Tails
#Name[cs]=Dokumentace Tails
#Name[cy]=Dogfennaeth Tails
#Name[da]=Tails dokumentation
#Name[de]=Tails-Dokumentation
#Name[el]=Τεκμηρίωση του Tails
#Name[en_GB]=Tails documentation
#Name[es]=Documentación de Tails
#Name[fa]=مستندات Tails
#Name[fi]=Tails-ohjeet
#Name[fr]=Documentation de Tails
#Name[fr_CA]=Documentation de Tails
#Name[hr_HR]=Tails dokumentacija
#Name[hu]=Tails dokumentáció
#Name[id]=Dokumentasi Tails
#Name[it]=Documentazione di Tails
#Name[ja]=Tailsのドキュメント
#Name[km]=ឯកសារ Tails
#Name[ko]=Tails 문서
#Name[lv]=Tails dokumentācija
#Name[nb]=Tails dokumentasjon
#Name[nl]=Tail documentatie
#Name[pl]=Dokumentacja Tails
#Name[pt]=Documentação Tails
#Name[pt_BR]=Documentação do Tails
#Name[ru]=Документация Tails
#Name[sk]=Tails dokumentácia
#Name[sk_SK]=Tails dokumentácia
#Name[sl_SI]=Dokumentacija Sledi
#Name[sv]=Tails dokumentation
#Name[tr]=Tails kılavuzu
#Name[uk]=Документація по Tails
#Name[zh_CN]=Tails 文档
#Name[zh_TW]=Tails 文件
Type=Application
Terminal=false
Exec=/usr/bin/java -jar /usr/local/martus/MartusClient-5.0.2/martus.jar
Icon=/usr/share/icons/gnome/48x48/categories/martus-app.png
